.photo-grid {
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3rem;
    margin-left: var(--main-margin-left-right);
    margin-right: var(--main-margin-left-right);
    margin-bottom: 6rem;
    transition: 300ms;
}
.photo-grid > div > img{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0%;
    transition: 300ms;
    cursor: pointer;
}
.photo-grid > div > video{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0%;
    transition: 300ms;
    cursor: pointer;
}
.type-title {
    font-size: var(--font-size-title);
    font-family: var(--font-family-titles);
    font-weight: 300;
    color: var(--font-color-dark-primary);
    text-decoration: none;
    padding-top: 3rem;
    margin-left: var(--main-margin-left-right);
    margin-right: var(--main-margin-left-right);
}
.photo-grid > *:hover {
    filter: brightness(1.2);
    z-index: 3;
}
.photo-grid > * {
    transition: 300ms;
}


    /* CONTROLS */

    /*.grid-element:hover::after {
    content: 'asdasdas';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 999;
    width: 4rem;
    height: 4rem;
    border-radius: 1.5rem;
    background-color:rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    } */
    
.grid-element {
    height: 100%;
}
.img-controls {
    display: grid;


    grid-template-columns: auto;
    gap: 1rem;
    position: absolute;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    margin: 1rem;
    transition: 300ms;
}

.img-control-button {
    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(5px);
    padding: 1rem;
    border-radius: 2rem;
    transition: 300ms;
    opacity: 0;
}
.full-screen-button {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    height: 100%;
    transition: 300ms;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.photo-grid > *:hover .img-control-button{

    opacity: 1;
}
.photo-grid > *:hover #full-screen-button {
    background-color: rgba(255, 255, 255, .55);
}
#info-button:hover {
    background-color: rgba(255, 255, 255, .55);
    
}
#info-button:hover #full-screen-button {
    background-color: rgba(255, 255, 255, .3);
}

    /* Scroll behaviour*/
.menu-title {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    font-family: figtree;
    font-size: calc(var(--font-size-title) / 1.5);
    text-transform: uppercase;

        /*Makes text unsellectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.photography-left-menu , .CGI-left-menu {
    position: fixed;
    display: grid;
    opacity: 0;
    gap: 3rem;
    left: 0;
    top:50%;
    transform: translateY(-50%);
    transition: 600ms;
    width: 8%;
}
.photography-right-menu{
    position: fixed;
    display: grid;
    opacity: 0;
    gap: 3rem;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    width: 8%;
    transition: 600ms;

}
.photography-left-menu p, .CGI-left-menu p{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;

}
.photography-right-menu button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border-color: transparent;
    width: 80%;
    border-radius: var(--border-radius-button);
    padding: var(--padding-horizontal-nav-elements);
    font-size: .7vw;
}
.photography-right-menu button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: var(--padding-horizontal-nav-elements);
    padding-right: var(--padding-horizontal-nav-elements);
}
/* CGI Margin Menus */





.visible {
    opacity: 1;
}


@media (max-width: 768px) {

    
.photo-grid {
    grid-template-columns: 1fr 1fr;
}




}





@media (max-width: 480px) {

    
.photo-grid {
    grid-template-columns: 1fr;
}




}