.preview-main {
    display: grid;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 4%;
    grid-template-columns: 5.5fr 4.5fr;
}
.preview-container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1rem;
    height: fit-content;
}

.preview-active {
    opacity: 1;
}
.preview-active > video, .preview-active > img {
    width: 100%;
    cursor: pointer;
}

.preview-slides {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    align-items: center;
}
.preview-slides img, .preview-slides video {
    max-width: 100%;
    cursor: pointer;
}


.preview-description-container {
    width: 80%;
    left: 100%;
    position: relative;
    transform: translateX(-100%);
}
.preview-title {
    margin-bottom: 2rem;
    font-size: var(--font-size-title);
}
.preview-description {
    font-size: var(--font-size-description);
    line-height: 150%;
}

@media (max-width: 480px) {

    
    .preview-main {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    
    .preview-description-container {
        width: 100%;
    }
    
    
    }