:root {
    --about-us-padding-horizontal:2rem;
    --about-us-padding-vertical:.5rem
}
body {
    background-color:gray ;
    
}
.about-us-container {
    height: 100vh;
    
    display: flex;
    object-position: center;
    justify-content: center;
    overflow: hidden;
    
}
.about-us-container video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}
.about-us-container img {
    height: 80%;
    position: relative;
    top: 20%;  
    
}
.about-us-background-filter {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(255,255,255,.5);
    backdrop-filter: blur(1px);
    z-index: -1;
}
.about-us-text-container {
    z-index: 1;
    color: white;
    background-color: rgba(255,255,255,.5);
    backdrop-filter: blur(5px);
    padding-left: var(--about-us-padding-horizontal);
    padding-right: var(--about-us-padding-horizontal);
    padding-top: var(--about-us-padding-vertical);
    padding-bottom: var(--about-us-padding-vertical);
    /* border-radius: var(--border-radius-button); */
    position: absolute;
    bottom: 5%;
    width: 100%;
}
.about-us-text-container h1 {
    text-align: center;
    font-size: calc(2 * var(--font-size-primary-elements));
    font-family: var(--main-font-family);
}
.about-us-title {
    color: black;
    position: relative;
}
.about-us-description-container {
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    padding-left: var(--padding-horizontal-nav-container);
    padding-right: var(--padding-horizontal-nav-container);
}
.about-us-description-container video {
    position: absolute;
    z-index: -1;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.about-us-description-container p {
    font-size: var(--font-size-secondary-elements);
    font-family: var(--main-font-family);
    color: var(--font-color-dark-secondary);
    margin-bottom: 5%;
}
.description-text-container {
    position: relative;
    margin-left: 8%;
    width: 40%;
    top: 50%;
    transform: translateY(-50%);

}