
.PhotoFlexContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1%;
}
.Row {
    width: calc(100% / 3);
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.PhotoCard {
    position: relative;
    background-size: contain;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2vw;
    cursor: pointer;
    
    transition: 300ms;
}
.PhotoCardVertical {
    width: 80%;
}
.PhotoCard img {
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.TextContainer {
    
    position: absolute;
    bottom:0;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(4px);
    width: 100%;
    opacity: 0;
    transition: 300ms;
    line-height: 1.2vw;
}
.TextContainer h2 {
    font-size: 1.5vw;
    color: white;
    margin-bottom: 2%;
}
.TextContainer a {
    font-size: 1vw;
    
}
.PhotoCard:hover {
    filter: brightness(1.2);
    width: 101%;
}
.PhotoCard:hover div {
    opacity: 1;
    display: block;
}
.PhotoCardVertical:hover {
    width: 81%;
}
@media screen and (max-width: 753px) {
    .TextContainer {
        line-height: 2.4vw;
    }
    .TextContainer a {
        font-size: 2vw;
    }
    
}
    