
body {
    margin: 0;
  }  


nav.MainNav {
  top: 0;
  position:sticky;
  background-color:rgba(0, 0, 0, .5);
  backdrop-filter: blur(3px); 
  display: flex;
  justify-content: space-between;
  z-index: 2;
  overflow:hidden;
  width: 100%;
  
}
nav.MainNav a {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left:2%;
  padding-right:2%;
  cursor: pointer;
  color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 30px;
    
  
}
nav.MainNav .NavCenter {
  
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
nav.MainNav .NavLeft:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius:0 20px 20px 0;
}
nav.MainNav .NavCenter:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
nav.MainNav .NavRight:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius:20px 0 0 20px;
}

/*
.nav-scrolled {
    --text: #333;
    --text-inverse: #f4f4f4;
    --background: #f4f4f4;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  }
*/

@media (max-width:565px) {
  nav.MainNav a {
    font-size: 5vw;
  }
}